{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": true,
    "semi": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "bracketSpacing": true,
    "cursorOffset": -1,
    "printWidth": 140,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false
}
