body {
    background-color: #efefef;

    margin: 0;
}
.App {
    display: flex;
    justify-content: center;
    overflow: auto;
    /* align-items: center;
    /* width: 100%; */
}
.App-bak {
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    /* grid-auto-flow: column; */
    min-height: 80vh;
    height: 100%;
    grid-auto-rows: minmax(20px, auto);
    grid-area: auto;
    /* grid-template-rows: repeat(auto-fill, minmax(10em, 1fr)); */
    /* background-color: #eee !important; */
    font-family: sans-serif;
    gap: 1em;
    overflow: auto;
}
/* .App>.big{
    grid-row: span 2;
} */
.App-bak > *:nth-child(odd) {
    grid-row: span 2;
}
.App-bak > * {
    max-height: 50em;
    overflow: auto;
}
h1 {
    padding: 1rem;
    margin: 0;
    text-align: center;
    font-weight: 100;
    width: 100%;
}
a {
    text-decoration: none;
    color: #333;
}
h3 {
    font-size: 1rem;
    color: #444;
    font-weight: 100;
    margin: 0.5em 0 0.5em;
}
.header {
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(10em, 1fr)); */
    transition: background 0.1s;
}
.status {
    overflow: auto;
    margin-left: auto;
    /* float: right; */
    /* font-size: 0.3em; */
    /* color: grey; */
    grid-column: span 2;
    text-align: right;
    transition: opacity 5s;
    opacity: 0.2;
}

.status:hover {
    opacity: 1;
    transition: opacity 0.2s;
    /* float: right; */
    /* font-size: 0.3em; */
    /* color: grey; */
    /* text-align: right; */
}
.status > * {
    padding: 0.5em;
}
.loading {
    /* color: white; */
    /* background: #22ee2222; */
}
.error {
    /* color: white; */
    background: #ee222222;
}
.jsonViewer {
    /* font-size: 12px; */
    font-size: 0.8rem;
    overflow: auto;
    max-height: 30em;
}
.jsonViewer table {
    min-width: 100%;
    border-spacing: 0;
    border-left: 1px #00000088;
}
.jsonViewer td {
    overflow: auto;
    max-height: 10em;
    max-width: 20em;
    border: none !important;
    padding: 0 !important;
    background-color: #ffffff88;
    vertical-align: top;
}
.jsonViewer td > span {
    padding: 0.5em 0.5em;
}
.jsonViewer th {
    border: none !important;
    background-color: #00000011;
    color: #111111;
    font-weight: 400;
    transition: font-weight 5s;
}
.jsonViewer th:hover {
    font-weight: 800;
    transition: font-weight 0.2s;
}
.jsonViewer span {
    color: #000 !important;
}

* {
    /* border-radius: 0.3rem !important; */
}
footer {
}
